<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">

      </div>

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <form name="loginForm" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                [disabled]="loginForm.invalid">
          LOGIN
        </button>

      </form>

    </div>

  </div>

</div>
